body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1617px;
}
#u256 {
  position:absolute;
  left:0px;
  top:1199px;
  width:1920px;
  height:1617px;
}
#u257 {
  position:absolute;
  left:2px;
  top:800px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3475px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3475px;
}
#u259 {
  position:absolute;
  left:2px;
  top:1730px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
