body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1196px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1196px;
}
#u201 {
  position:absolute;
  left:2px;
  top:590px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1620px;
}
#u202 {
  position:absolute;
  left:0px;
  top:1196px;
  width:1920px;
  height:1620px;
}
#u203 {
  position:absolute;
  left:2px;
  top:802px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
