body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:5291px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:5291px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2638px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:977px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118 {
  position:absolute;
  left:1073px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u119 {
  position:absolute;
  left:1175px;
  top:26px;
  width:97px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u120 {
  position:absolute;
  left:1293px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u121 {
  position:absolute;
  left:1397px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u123 {
  position:absolute;
  left:1306px;
  top:3451px;
  width:127px;
  height:22px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u125 {
  position:absolute;
  left:1308px;
  top:3491px;
  width:500px;
  height:26px;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u126 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u127 {
  position:absolute;
  left:1256px;
  top:3441px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u128 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u129 {
  position:absolute;
  left:1190px;
  top:3256px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u131 {
  position:absolute;
  left:809px;
  top:3563px;
  width:231px;
  height:38px;
  font-size:18px;
  text-align:left;
}
#u132 {
  position:absolute;
  left:2px;
  top:8px;
  width:227px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u133 {
  position:absolute;
  left:1088px;
  top:3579px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u135 {
  position:absolute;
  left:1088px;
  top:3498px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u136 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.247058823529412);
}
#u138 {
  position:absolute;
  left:1306px;
  top:3596px;
  width:412px;
  height:86px;
}
#u139 {
  position:absolute;
  left:2px;
  top:35px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u140 {
  position:absolute;
  left:1324px;
  top:3612px;
  width:46px;
  height:46px;
}
#u141 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1F2D3D;
  line-height:20px;
}
#u142 {
  position:absolute;
  left:1382px;
  top:3610px;
  width:180px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1F2D3D;
  line-height:20px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u144 {
  position:absolute;
  left:1382px;
  top:3638px;
  width:305px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u146 {
  position:absolute;
  left:1693px;
  top:3605px;
  width:16px;
  height:16px;
}
#u147 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:fixed;
  right:5px;
  bottom:5px;
  width:53px;
  height:86px;
  overflow:hidden;
}
#u148_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:86px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u148_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:85px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:85px;
}
#u151 {
  position:absolute;
  left:2px;
  top:34px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u152 {
  position:absolute;
  left:10px;
  top:46px;
  width:32px;
  height:30px;
}
#u153 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u154 {
  position:absolute;
  left:10px;
  top:10px;
  width:32px;
  height:25px;
}
#u155 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:159px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u157 {
  position:fixed;
  right:5px;
  top:50%;
  margin-top:-72.5px;
}
#u157_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u157_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u160 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u161 {
  position:absolute;
  left:0px;
  top:31px;
  width:21px;
  height:21px;
}
#u162 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u163 {
  position:absolute;
  left:0px;
  top:62px;
  width:21px;
  height:21px;
}
#u164 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u165 {
  position:absolute;
  left:0px;
  top:93px;
  width:21px;
  height:21px;
}
#u166 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u167 {
  position:absolute;
  left:0px;
  top:124px;
  width:21px;
  height:21px;
}
#u168 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
