body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2056px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2056px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1020px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
}
#u14 {
  position:absolute;
  left:0px;
  top:2056px;
  width:1920px;
  height:979px;
}
#u15 {
  position:absolute;
  left:2px;
  top:482px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2216px;
}
#u16 {
  position:absolute;
  left:0px;
  top:4005px;
  width:1920px;
  height:2216px;
}
#u17 {
  position:absolute;
  left:2px;
  top:1100px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:977px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:1073px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:1175px;
  top:26px;
  width:97px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:1293px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:1397px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:1491px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u25 {
  position:absolute;
  left:1412px;
  top:5413px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u27 {
  position:absolute;
  left:1414px;
  top:5453px;
  width:500px;
  height:26px;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u28 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u29 {
  position:absolute;
  left:1362px;
  top:5403px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u31 {
  position:absolute;
  left:1198px;
  top:5148px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:791px;
  top:5264px;
  width:339px;
  height:54px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:54px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33_input:disabled {
  color:grayText;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u34 {
  position:absolute;
  left:233px;
  top:4535px;
  width:109px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u36 {
  position:absolute;
  left:1584px;
  top:4535px;
  width:109px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
}
#u38 {
  position:absolute;
  left:0px;
  top:3026px;
  width:1920px;
  height:979px;
  color:#F2F2F2;
}
#u39 {
  position:absolute;
  left:2px;
  top:482px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u40 {
  position:absolute;
  left:810px;
  top:3091px;
  width:300px;
  height:170px;
  font-size:48px;
}
#u41 {
  position:absolute;
  left:2px;
  top:58px;
  width:296px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:565px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:970px;
  top:2313px;
  width:891px;
  height:565px;
}
#u43 {
  position:absolute;
  left:2px;
  top:274px;
  width:887px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:633px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:67px;
  top:3295px;
  width:891px;
  height:633px;
}
#u45 {
  position:absolute;
  left:2px;
  top:308px;
  width:887px;
  visibility:hidden;
  word-wrap:break-word;
}
