body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:9491px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:9491px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4738px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:977px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:1073px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:1175px;
  top:26px;
  width:97px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:1293px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:1397px;
  top:25px;
  width:94px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:633px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:2487px;
  top:2821px;
  width:891px;
  height:633px;
}
#u40 {
  position:absolute;
  left:2px;
  top:308px;
  width:887px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u42 {
  position:absolute;
  left:1461px;
  top:8681px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u44 {
  position:absolute;
  left:1462px;
  top:8721px;
  width:398px;
  height:26px;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u45 {
  position:absolute;
  left:8px;
  top:4px;
  width:390px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:40px;
}
#u46 {
  position:absolute;
  left:1421px;
  top:8671px;
  width:32px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u48 {
  position:absolute;
  left:1082px;
  top:8612px;
  width:34px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u50 {
  position:absolute;
  left:230px;
  top:7813px;
  width:109px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u52 {
  position:absolute;
  left:1581px;
  top:7813px;
  width:109px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u54 {
  position:absolute;
  left:1175px;
  top:8498px;
  width:23px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u55 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u56 {
  position:fixed;
  right:5px;
  bottom:5px;
  width:53px;
  height:86px;
  overflow:hidden;
}
#u56_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:86px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:85px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:85px;
}
#u59 {
  position:absolute;
  left:2px;
  top:34px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u60 {
  position:absolute;
  left:10px;
  top:46px;
  width:32px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u62 {
  position:absolute;
  left:10px;
  top:10px;
  width:32px;
  height:25px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:159px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:fixed;
  right:5px;
  top:50%;
  margin-top:-72.5px;
}
#u65_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u69 {
  position:absolute;
  left:0px;
  top:31px;
  width:21px;
  height:21px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u71 {
  position:absolute;
  left:0px;
  top:62px;
  width:21px;
  height:21px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u73 {
  position:absolute;
  left:0px;
  top:93px;
  width:21px;
  height:21px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u75 {
  position:absolute;
  left:0px;
  top:124px;
  width:21px;
  height:21px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
